* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100svh;
  background-image: linear-gradient(to right bottom,rgba(66, 131, 253, 0.653),rgba(249, 53, 53, 0.653));
  background-size: 1600px 1200px;
  
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
 backdrop-filter: blur(17px);
 --webkit-backdrop-filter: blur(17px);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  transition: width 0.3s ease;
 }
 .sidebar:hover {
     width: 260px;
 }
 .sidebar .logo {
     color: #000;
     display: flex;
     align-items: center;
     padding: 25px 10px 15px;
 }
 .logo img {
     width: 53px;
     border-radius: 50%;
 }
 
 .logo h2 {
     font-size: 1.15rem;
     font-weight: 600;
     margin-left: 15px;
     display: none;
 }
 
 .sidebar:hover .logo h2 {
     display: block;
 }
 
 .sidebar .links {
     list-style: none;
     margin-top: 20px;
     overflow-y: auto;
     scrollbar-width: none;
     height: calc(100% - 140px);
 }
 
 .sidebar .links::-webkit-scrollbar {
     display: none;
 }
 
 .links li {
     display: flex;
     border-radius: 4px;
     align-items: center;
 }
 
 .links li:hover {
     cursor: pointer;
     background: #fff;
 }
 
 .links h4 {
    color: #222;
     font-weight: 40000;
     display: none;
     margin-bottom: 10px;
 }
 
 .sidebar:hover .links h4 {
     display: block;
 }
 
 .links hr {
     margin: 10px 8px;
     border: 1px solid #4c4c4c;
 }
 
 .sidebar:hover .links hr {
     border-color: transparent;
 }
 
 .links li span {
     padding: 12px 10px;
 }
 
 .links li a {
     padding: 10px;
     color: #000;
     display: none;
     font-weight: 500;
     white-space: nowrap;
     text-decoration: none;
 }
 
 .sidebar:hover .links li a {
     display: block;
 }
 
 .links .logout-link {
     margin-top: 20px;
 }
 
 
/***********************  Cards ************************/
.ag-format-container {
  flex-shrink: 0;
  left: 22%;
  top: 30px;
  display: block;
  width: 78%;
  height: 20em;
  position: relative;
}



.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(118% / 2 - 13px);
  flex-basis: calc(118% / 3 - 13px);

  margin: 0 15px 10px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #ffffff;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight:200;
  font-size: 20px;
  color: #000000;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #000000;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}


.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #fd2020d6;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #58aef9;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #f95454;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #007bff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #b655f7;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #83a2fa;
}

.card__text-material-symbols-outlined{
  display: block;
  position: relative;
  margin-right: 3px;
  justify-content: left;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }

}